
<div style="background-color: #f2ffe6;" class="pt-2 pb-2 ps-3">
    <div class="row d-flex justify-content-center small">
        <div id="frmCreate" class="row w-100 d-flex justify-content-center mainForm">
            <div>
                <hr>
                <h5 id="studentTitle" class="text-center fw-bold">
                    <p id="prgPageTitle">Creating new student record.</p>
                </h5>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="text-left d-inline-block mt-3">
                        <div>
                            <form id="frmPictureSelect" method="POST" action="/save_student_picture"
                                  enctype="multipart/form-data">
                                <label for="selectStudentPicture" class="btn btn-success btn-sm mb-2"
                                       style="width: 12rem">Select Picture</label>
                                <input id="selectStudentPicture" style="display:none;" type="file">
                            </form>
                        </div>
                    </div>
                    <div style="height: 250px">
                        <img id="studentImageTmp"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="
                             alt="No image was found"
                             height=250
                             width=auto
                        />
                    </div>
                    <div class="text-center d-inline-block ">
                        <div class="mt-2 p-1 fw-bold border rounded"
                             style="backgroundColor: #D3D3D3; width: 14rem">
                            <label class="d-inline-block">Image Name:</label>
                            <label id="studentImageName" class="d-inline-block">Active</label>
                        </div>
                        <div class="mt-2 p-1 fw-bold border rounded" style="backgroundColor: #D3D3D3; width: 14rem">
                            <label>Status:&nbsp; </label>
                            <label>Active</label>
                        </div>
                        <div
                                class="mt-2 p-1 fw-bold border rounded"
                                style="backgroundColor: #D3D3D3; width: 14rem">
                            <label>Member Since:</label><br>
                            <label id="memberSinceLbl">01/01/1753</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 pt-3">
                    <form id="frmStudentDetails">
                        <div class="row">
                            <div class="d-inline-block text-start" style="width: 11rem">
                                <label class="form-label ms-1 mb-0">First Name</label>
                                <input id="frmFirstName"
                                       name="frmFirstName"
                                       placeholder="First Name"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmFirstName")
                                />
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 11rem">
                                <label class="form-label ms-1 mb-0">Middle Name</label>
                                <input id="frmMiddleName"
                                       name="frmMiddleName"
                                       placeholder="Middle Name"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmMiddleName")
                                       disabled
                                />
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 11rem">
                                <label class="form-label ms-1 mb-0">Last Name</label>
                                <input id="frmLastName"
                                       name="frmLastName"
                                       placeholder="Last Name"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmLastName")
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-inline-block text-start mt-2" style="width: 35rem">
                                <label class="form-label ms-1 mb-0">Address Line 1(Optional)</label>
                                <input id="frmAddress"
                                       name="frmAddress"
                                       placeholder="Address Line 1"
                                       class="d-inline-block float-left form-control"
                                       style="width: 35rem"
                                       onBlur=handleFieldBlur("frmAddress")
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-inline-block text-start mt-2" style="width: 35rem">
                                <label class="form-label ms-1 mb-0">Address Line 2 (Optional)</label>
                                <input id="frmAddress2"
                                       name="frmAddress2"
                                       placeholder="Address Line 1"
                                       class="d-inline-block float-left form-control"
                                       style="width: 35rem"
                                       onBlur=handleFieldBlur("frmAddress2")
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-inline-block text-start mt-2" style="width: 35rem">
                                <label class="form-label ms-1 mb-0">City (Optional)</label>
                                <input id="frmCity"
                                       name="frmCity"
                                       placeholder="City"
                                       class="d-inline-block float-left form-control"
                                       style="width: 35rem"
                                       onBlur=handleFieldBlur("frmCity")
                                />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="d-inline-block text-start" style="width: 12rem">
                                <label class="form-label ms-1 mb-0">State</label>
                                <input id="frmState"
                                       name="frmState"
                                       placeholder="State"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmState")
                                       maxlength="2"
                                />
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 12rem">
                                <label class="form-label ms-1 mb-0">Zip Code</label>
                                <input id="frmZip"
                                       pattern="^\d{5}(?:[-\s]\d{4})?$"
                                       name="frmZip"
                                       placeholder="Zip Code"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmZip")
                                       maxlength="5"
                                />
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 12rem">
                                <label class="form-label ms-1 mb-0">Birth Date</label>
                                <input id="frmBirthDate"
                                       name="frmBirthDate"
                                       placeholder="01/01/1900"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmBirthDate")
                                />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="d-inline-block text-start" style="width: 12rem">
                                <label class="form-label ms-1 mb-0">Phone</label>
                                <input id="frmPhoneHome"
                                       name="frmPhoneHome"
                                       placeholder="555-555-1234"
                                       class="d-inline-block float-left form-control"
                                       style="width: 11rem"
                                       onBlur=handleFieldBlur("frmPhoneHome")
                                       type="tel"
                                />
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 24rem">
                                <label class="form-label ms-1 mb-0">E Mail</label>
                                <input id="frmEmail"
                                       name="frmEmail"
                                       placeholder="E-Mail"
                                       class="d-inline-block float-left form-control"
                                       style="width: 24rem"
                                       onBlur=handleFieldBlur("frmEmail")
                                       pattern="\d{5}$"
                                />
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="d-inline-block text-start" style="width: 12rem">
                                <button id="btnSaveStudentUpdate" type="button" class="btn btn-success btn-sm ">Save
                                    Updates
                                </button>
                            </div>
                            <div class="d-inline-block text-start" style="width: 12rem">
                                <button id="btnCreateStudentBadge" type="button" class="btn btn-success btn-sm ">Create
                                    Badge
                                </button>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div id="divStudentMessages" class="fw-bold text-success">Awaiting input ...</div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
