<div id="divStudentsList" style="" class="px-5 border rounded w-100 mx-auto">
    <table id="studentListTable" class="table cell-border b">
        <thead>
            <tr>
                <th></th>
                <th>Badge Number</th>
                <th>Student Name</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody id="studentListTBbody">
            {% for student_record in student_records %}
            <tr>
                <td>
                    <img id="studentImage"
                         src=data:image/{{student_record.studentImageType}};base64,{{student_record.studentImageBase64}}
                         alt="No image found"
                         height=50
                         width=auto
                    />
                </td>
                <td >{{ student_record.badgeNumber }}</td>
                <td>{{ student_record.firstName }} {{ student_record.lastName }}</td>
                <td>{{ student_record.currentRankName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
