<h1 class="mt-2">Student Promotions</h1>

<div style="background-color: #f2ffe6;" class="pt-2 pb-2 ps-3">
    <div class="row d-flex justify-content-center small">
        <div id="frmCreate" class="row w-100 d-flex justify-content-center mainForm">
            <div>
                <h5 id="studentTitle" class="text-center">
                </h5>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="{{ url_for('students_bp.static',filename='student_details.js') }}"></script>
