<div style="background-color: #f2ffe6;" class="pt-2 pb-2 ps-3">
    <div class="row d-flex justify-content-center small">
        <div id="frmCreate" class="row w-100 d-flex justify-content-center mainForm">
            <div>
                <hr>
                <h5 id="studentTitle" class="text-center fw-bold">
                    <p id="prgPageTitle">Manage student rank.</p>
                </h5>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-8 pt-3">
                    <form id="frmStudentPromotions">
                        <h6 id="hdrStudentRank" class="fw-bold">
                            <p id="prgStudentRank">Current student rank.</p>
                        </h6>
                        <div class="row">
                            <div class="d-inline-block text-start" style="width: 12rem">
                                <label class="form-label ms-1 mb-0 fw-bold">Rank Name:</label>
                                <select name="studentBelt" id="studentBelt" style="height: 2rem;">
                                    <option value="1">White</option>
                                    <option value="2">Orange</option>
                                    <option value="3">Yellow</option>
                                    <option value="4">Blue</option>
                                    <option value="5">Green</option>
                                    <option value="6">Purple</option>
                                    <option value="7">Brown</option>
                                    <option value="8">Black</option>
                                </select>
                            </div>
                            <div class="d-inline-block text-start ms-3" style="width: 19rem">
                                <label class="form-label ms-1 mb-0 fw-bold">Stripe Name:</label>
                                <select name="studentBeltStripes" id="studentBeltStripes" style="height: 2rem;">
                                    <option value=58>1st Orange Stripe</option>
                                    <option value=131>2nd Orange Stripe</option>
                                    <option value=132>3rd Orange Stripe</option>
                                    <option value=133>4th Orange Stripe</option>
                                    <option value=137>5th Orange Stripe</option>
                                    <option value=138>6th Orange Stripe</option>
                                </select>
                            </div>
                            <button id="btnPromotionSave" name="btnPromotionSave" type="button" class="d-inline-block btn btn-sm btn-primary" style="width: 7rem; height: 2rem;">Save</button>
                            <label id="lblPromotionSaveResponse" class="fw-bold ms-1">Awaiting input ...</label>
                        </div>

                        <div class="row mt-5">
                        <h6 id="divPromotionHistory" class="fw-bold">
                            Student promotion history.
                        </h6>
                        <hr>
                            <table id="tblStudentPromotions" class="ms-3">
                                <thead>
                                    <tr>
                                        <th>Belt name</th>
                                        <th>Stripe name</th>
                                        <th>Promotion date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyStudentPromotions">
                                    <tr>
                                        <td>White</td>
                                        <td>1st Yellow Strip</td>
                                        <td>01/01/1900</td>
                                    </tr>
                                    <tr>
                                        <td>White</td>
                                        <td>2nd Yellow Strip</td>
                                        <td>01/01/1900</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
