<div style="background-color: #f2ffe6;" class="pt-2 pb-2 ps-3">
    <div class="row d-flex justify-content-center small">
        <div id="frmCreate" class="row w-100 d-flex justify-content-center mainForm">
            <div>
                <hr>
                <h5 id="studentTitle" class="text-center fw-bold">
                    <p id="studentAttendancePageTitle">Review student attendance for .</p>
                </h5>
                <hr>
            </div>
            <div>
                <table id="tblStudentAttendance" class="table table-bordered table-striped ms-3">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Week Day</th>
                        <th>Checkin Date</th>
                        <th>Checkin Time</th>
                        <th>Class Name</th>
                        <th>Promotion</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyStudentAttendance">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
