{% extends "base.html" %}

{% block title %}
Student related functions
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="static/students.css">
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
<h2 class="mt-2">Student Functions</h2>

<div class="container my-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="true">Search</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">New Student</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="promotions-tab" disabled data-bs-toggle="tab" data-bs-target="#promotions" type="button" role="tab" aria-controls="contact" aria-selected="false">Student Attendance</button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane show active" id="search" role="tabpanel" aria-labelledby="search-tab">
      {% include 'students_list_sub.html' %}
    </div>
    <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">
      {% include 'student_details_sub.html' %}
    </div>
    <div class="tab-pane" id="promotions" role="tabpanel" aria-labelledby="promotions-tab">
      {% include 'student_details_sub.html' %}
    </div>
    <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      {% include 'student_promotions.html' %}
    </div>
  </div>
</div>

<script type="application/javascript" src="{{ url_for('students_bp.static',filename='students_list.js') }}"></script>

{% endblock %}