{% extends "base.html" %}

{% block title %}
Class management functions
{% endblock %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
<h2>Ranks / Belts Manager</h2>
<!--<h5 style="background-color: orange;" class="p-2 text-center fw-bold">Under Construction</h5>-->
<div id="ranks-table-container"></div>
<script type="application/javascript" src="{{ url_for('belts_bp.static',filename='belts_list.js') }}"> </script>

{% endblock %}