{% extends "base.html" %}

{% block title %}
Class management functions
{% endblock %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
<h2>Ranks / Belts Manager</h2>
<h5 style="background-color: orange;" class="p-2 text-center fw-bold">Under Construction</h5>

<div id="table-container"></div>

<div id="ranks-table-container"></div>
<hr>

<table id="beltsTable" class="table table-bordered table-striped w-75 mx-auto">
  <thead>
    <tr>
      <th colspan="3" class="text-center">
        <img
           src="static/images/belt_images/white-belt-thumbnail.webp"
           class="float-start"
           height="50px">
        <h4 class="fw-bold">White Belt</h4>
      </th>
    </tr>
  </thead>
  <tbody id="tbodyRanksByBelt">
    <tr>
      <td id="tdStripeName1" class="fw-bold">
       <input type="text"
              id="inpStripName1"
              name="inpStripName1"
              value="1st Orange Stripe"
              disabled
       />
      </td>
      <td id="tdClassCount1" class="">
        <input type="text"
              id="inpClassCount1"
              name="inpClassCount1"
              value="5"
              style="width: 50px;"
              disabled
        />
      </td>
      <td id="tdStripeDelete1" class="">
        <img src="static/images/icons/plus-square.svg" style="cursor:pointer;" title="Save">
        <img src="static/images/icons/trash.svg" style="cursor:pointer;" title="Delete">
      </td>
    </tr>
    <tr>
      <td id="tdStripeName2" class="fw-bold">
       <input type="text"
              id="inpStripName2"
              name="inpStripName2"
              value="2nd Orange Stripe"
              disabled
       />
      </td>
      <td id="tdClassCount2"   class="">
       <input type="text"
              id="inpClassCount2"
              name="inpClassCount2"
              value="10"
              style="width: 50px;"
              disabled
       />
      </td>
      <td id="tdStripeDelete2" class="">
        <img src="static/images/icons/plus-square.svg" style="cursor:pointer;" title="Save">
        <img src="static/images/icons/trash.svg" style="cursor:pointer;" title="Delete">
      </td>
    </tr>
    <tr>
      <td id="tdStripeName3" class="fw-bold">
       <input type="text"
              id="inpStripName3"
              name="inpStripName3"
              value="3rd Orange Stripe"
              disabled
       />
      </td>
      <td id="tdClassCount3"   class="">
       <input type="text"
              id="inpClassCount3"
              name="inpClassCount3"
              value="15"
              style="width: 50px;"
              disabled
       />
      </td>
      <td id="tdStripeDelete3" class="">
        <img src="static/images/icons/pencil-square.svg">
        <img src="static/images/icons/trash.svg">
      </td>
    </tr>
    <tr>
      <td id="tdStripeAddWhite" colspan="3" class="">
        <a href="#" target="_blank" title="Add new stripe">Add new White Belt stripe</a>
      </td>
    </tr>


  </tbody>
</table>


<table id="orangeBeltTable" class="table table-bordered table-striped w-75 mx-auto">
  <thead>
    <tr>
      <th colspan="3" class="text-center">
        <img
           src="static/images/belt_images/orange-belt-thumbnail.webp"
           class="float-start"
           height="50px">
        <h4 class="fw-bold">Orange Belt</h4>
      </th>
    </tr>
  </thead>
  <tbody id="tbodyOrangeRanks">
    <tr>
      <td id="tdOrangeStripeName1" class="fw-bold">
       <input type="text"
              id="inpOrangeStripName1"
              name="inpOrangeStripName1"
              value="1st Orange Stripe"
              disabled
       />
      </td>
      <td id="tdOrangeClassCount1" class="">
        <input type="text"
              id="inpOrangeClassCount1"
              name="inpOrangeClassCount1"
              value="5"
              style="width: 50px;"
              disabled
        />
      </td>
      <td id="tdOrangeStripeDelete1" class="">
        <img src="static/images/icons/pencil-square.svg">
        <img src="static/images/icons/trash.svg">
      </td>
    </tr>
    <tr>
      <td id="tdOrangeStripeName2" class="fw-bold">
       <input type="text"
              id="inpOrangeStripName2"
              name="inpOrangeStripName2"
              value="2nd Orange Stripe"
              disabled
       />
      </td>
      <td id="tdOrangeClassCount2"   class="">
       <input type="text"
              id="inpOrangeClassCount2"
              name="inpOrangeClassCount2"
              value="10"
              style="width: 50px;"
              disabled
       />
      </td>
      <td id="tdOrangeStripeDelete2" class="">
        <img src="static/images/icons/plus-square.svg">
        <img src="static/images/icons/pencil-square.svg">
        <img src="static/images/icons/trash.svg">
      </td>
    </tr>
    <tr>
      <td id="tdOrangeStripeName3" class="fw-bold">
       <input type="text"
              id="inpOrangeStripName3"
              name="inpStripName3"
              value="3rd Orange Stripe"
              disabled
       />
      </td>
      <td id="tdOrangeClassCount3"   class="">
       <input type="text"
              id="inpOrangeClassCount3"
              name="inpOrangeClassCount3"
              value="15"
              style="width: 50px;"
              disabled
       />
      </td>
      <td id="tdOrangeStripeDelete3" class="">
        <img src="static/images/icons/plus-square.svg">
        <img src="static/images/icons/pencil-square.svg">
        <img src="static/images/icons/trash.svg">
      </td>
    </tr>
  </tbody>
</table>

<script type="application/javascript" src="{{ url_for('belts_bp.static',filename='belts_list.js') }}"> </script>

{% endblock %}