{% extends "base.html" %}

{% block title %}
Student related functions
{% endblock %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
<h2>Classes / Schedule Manager</h2>

<div id="divScheduleList" style="" class="px-5 border rounded w-100 mx-auto">
    <table id="scheduleClassesTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Day Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Class Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="{{ url_for('static',filename='scripts/schedule.js') }}"> </script>

{% endblock %}