<div id="div_class_details" class="mb-3">
    <table id="classTable" class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>Day of Week</th>
          <th>Class Name</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody id="tbodyClassDays">
        <tr>
          <td id="td_ClassDayName"   class="fw-bold">{{classDayName}}</td>
          <td id="td_ClassName"      class="fw-bold">{{className}}</td>
          <td id="td_ClassStartTime" class="fw-bold">{{classStartTime}}</td>
          <td id="td_ClassFinisTime" class="fw-bold">{{classFinisTime}}</td>
        </tr>
      </tbody>
    </table>
</div>