<div id="div_requirements_counts" class="d-inline-block" style="width: 20rem;">

    <div class="d-inline-block text-start ms-1" style="width: 8rem;" >
        <label class="form-label ms-1 mb-0 fw-bold">Required:</label>
        <input
                id="classesRequired"
                name="classesRequired"
                type="number"
                class="form-control"
                style="width: 7rem;"
                value={{required_attendance_count}}
                disabled

        >
    </div>

    <div class="d-inline-block text-start ms-1" style="width: 8rem;" >
        <label class="form-label ms-1 mb-0 fw-bold">Attended:</label>
        <input
                id="classesAttended"
                name="classesRequired"
                type="number"
                class="form-control"
                style="width: 7rem;"
                value={{actual_attendance_count}}
                disabled

        >
    </div>
</div>
