{% extends 'base.html' %}

{% block content %}
    <div className="container mx-auto">
      <div id="first_spacer" style="height:3rem"></div>

      <div class="d-flex justify-content-center" >
        <img
          src="static/images/misc_images/rising-sun-martial-arts-logo.png"
          alt="No image found"
          height={160}
        />
      </div>

      <div class="row d-flex justify-content-center mt-5" >
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3 mx-auto border rounded-5 ps-5 pt-4 pb-3 mainForm text-center" style="background-color: #f2ffe6">
          <h2 class="fw-bold mx-auto mb-4">
            Please check in before starting class...
          </h2>
          <form class="d-flex  mx-auto justify-content-center">
            <input id="badgeNumber" type="text" class="form-control" style="width: 11rem" placeholder="Card number">
          </form>
          <div>
            <h4 id="currentDateTime" class="fw-bold mt-4"></h4>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8  mx-auto border rounded-5 ps-1 pt-4 pb-3 checkinResponse">
          <table class="checkin-table col-md-10 mx-auto ">
            <tbody>
              <tr>
                <td rowSpan="4" style="width: 7rem">
                  <Image src={{ checkinMessage.imageSrc }} rounded style="height:95px" />
                </td>
                <td id="checkinMessage1" class="fw-bold">{{checkinMessage.message}}</td>
              </tr>
              <tr>
                <td id="checkinMessage2" class="fw-bold checkinMsg2">Next Achievement:</td>
              </tr>
              <tr>
                <td id="checkinMessage3" class="fw-bold checkinMsg2">Classes Until:</td>
              </tr>
              <tr>
                <td id="checkinTimer" class="justify-content-center text-end fw-bold">
                  <label id="checkinTimer5" class="checkinTimer">5</label>
                  <label id="checkinTimer4" class="checkinTimer">4</label>
                  <label id="checkinTimer3" class="checkinTimer">3</label>
                  <label id="checkinTimer2" class="checkinTimer">2</label>
                  <label id="checkinTimer1" class="checkinTimer">1</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2"></div>
      </div>

    <script src="{{ url_for('static',filename='scripts/checkin.js') }}"></script>

{% endblock %}